<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteBase /

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php?/$1 [L]
</IfModule>

SetEnv CI_ENV development

SetEnv DB_NAME _enter_values_
SetEnv DB_USER _enter_values_
SetEnv DB_PASS _enter_values_
SetEnv DB_HOST _enter_values_

SetEnv BASE_URL _enter_values_