body {
	font-family: "BPG Arial", Arial, Sans-serif;
}

img {
	max-width: 100%;
}

.wrapper {
	position: relative;
	width: 810px;
	min-height: 600px;
	margin: 0 auto;
	background: url('../img/bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}

.unstyled {
	color: inherit !important;
	text-decoration: none !important;
}