body {
	color: white;
}

img {
	max-width: 100%;
}


/*	GENERAL MARKUP WITH STICKY FOOTER	*/

.wrapper {
	width: 810px;
	margin: 0 auto;
	background: url('../img/bg.png');
	background-repeat: no-repeat;
	background-size: cover;
}


/*	HELPERS	*/

.unstyled {
	color: inherit !important;
	text-decoration: none !important;
}