.chosen {
	position: relative;
	margin: 10px auto;
	width: 230px;
}

.chosen > .image {
	width: 100%;
	height: 200px;
	background-size: cover;
	background-position: center;
}

.chosen > .gradient {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 200px;
	background-image: linear-gradient(to top, #29057f, rgba(142, 116, 204, 0.56) 35%, rgba(255, 255, 255, 0));
}

.gradient > .desc {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 8px 15px;
}

.vote-button {
	height: 60px;
	padding: 10px 20px;
	font-size: 15px;
	background: white;
	color: #4611c6;
	overflow: hidden;
}

.vote {
	color: #4b4b4b;
	font-size: 18px;
	padding: 8px 0;
}

.star {
	color: #4611c6;
	margin: 0 5px;
	font-size: 20px;
}

.bottom-row {
	padding-top: 30px;
	padding-bottom: 30px;
}